sudo: false

language: cpp

matrix:
  include:
    - os: linux
      compiler: gcc
      addons:
        apt:
          packages:
            - liblapack-dev
            - libblas-dev
script:
   # Set some variables
   - cd $TRAVIS_BUILD_DIR;

   # Configure the library
   - mkdir build;
   - cd build;
   - CC=gcc CXX=g++ cmake ..;

   # Build the library
   - make -j3

   # Run tests
   - ./tests/tests
